
{{ template "base.html" . }}

{{ define "content" }}<div class="csrf-token" style="display: none">{{.csrfToken}}</div>
<h1>{{.Title}}</h1>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
<p><a href="/register">Register</a></p>
{{ end }}